<div class="card bg-info text-white">
  <div class="card-header">Comparison Charts</div>

  <div class="card-body ">
    <form #compareForm="ngForm" (ngSubmit)="onSubmit(compareForm)">
      <!--<div class="form-group">
        <label for="basedOn">Select Company/Sector</label>
        <select
          type="text"
          class="form-control mdb-select md-form colorful-select dropdown-primary"
          companyname="basedOn"
          #basedOn="ngModel"
          [ngClass]="{'is-invalid': basedOn.errors && companyname.touched}"
          [(ngModel)]="basedOn"
          required>
          <option value="Company">Company</option>
          <option value="Sector">Sector</option>
        </select>
      </div>-->

      <div class="form-group">
        <label for="exchangename">Select Stock Exchange</label>
        <select
          type="text"
          class="form-control"
          name="exchangename"
          #exchangecompanyname="ngModel"
          [(ngModel)]="comparison.exchangename"
          required
        >
          <option value="BSE">BSE</option>
          <option value="NSE">NSE</option>
        </select>
      </div>

      <div class="form-group">
        <label for="companyname">Company name</label>
        <input
          type="text"
          class="form-control"
          name="companyname"
          #companyname="ngModel"
          [ngClass]="{
            'is-invalid': companyname.errors && companyname.touched
          }"
          [(ngModel)]="comparison.companyname"
          placeholder="Company companyname"
          minlength="2"
          required
        />
        <div [hidden]="!companyname.errors?.required" class="invalid-feedback">
          Company companyname required
        </div>
        <div [hidden]="!companyname.errors?.minlength" class="invalid-feedback">
          Must be atleast 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="fromperiod">From Period (dd-MM-YYYY)</label>
        <input
          type="text"
          class="form-control"
          name="fromperiod"
          #fromperiod="ngModel"
          [ngClass]="{ 'is-invalid': fromperiod.errors && fromperiod.touched }"
          [(ngModel)]="comparison.fromperiod"
          required
        />
        <div [hidden]="!fromperiod.errors?.required" class="invalid-feedback">
          From Period required
        </div>
      </div>

      <div class="form-group">
        <label for="toperiod">To Period (dd-MM-YYYY)</label>
        <input
          type="text"
          class="form-control"
          name="toperiod"
          #toperiod="ngModel"
          [ngClass]="{ 'is-invalid': toperiod.errors && toperiod.touched }"
          [(ngModel)]="comparison.toperiod"
          required
        />
        <div [hidden]="!toperiod.errors?.required" class="invalid-feedback">
          To Period required
        </div>
      </div>

      <div class="form-group">
        <label for="periodicity">Specify Periodicity</label>
        <select
          type="text"
          class="form-control"
          name="periodicity"
          #periodicity="ngModel"
          [(ngModel)]="comparison.periodicity"
          required
        >
          <option value="Day">Day</option>
          <option value="Week">Week</option>
          <option value="Month">Month</option>
          <option value="Year">Year</option>
        </select>
        <div [hidden]="!periodicity.errors?.required" class="invalid-feedback">
          Periodicity required
        </div>
      </div>

      <input
        type="submit"
        value="Generate Map"
        class="btn btn-dark btn-block"
      />
    </form>
  </div>
</div>

<div>
  <canvas id="canvasId" width="400px" height="200px">{{ chart }}</canvas>
</div>
